.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__content {
    width: 100%;
    height: 50dvh;
    background-image: url("/public/images/salud-med-building.png");
    background-position: 100% 85%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInFromBot 0.9s ease-out forwards;
}

.contact__title {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: aliceblue;
    background-color: #0d136d93;
    border-radius: 20px;
    animation: appear 0.9s ease-out forwards;
}

.contact_main_container {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: aliceblue;
}

.contact_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
}

.contact_container p{
    line-height: 25px;
    font-family: "Agdasima", serif;
    font-style: normal;
    font-size: 1.4rem;
}

.container_description{
    width: 450px;
    animation: fadeInFromTop 0.9s ease-out forwards;
}

.container_description h2{
    padding: 20px 0;
    font-size: 2.1rem;
}

.container_description p {
    font-size: 1.5rem;
    font-family: "Agdasima", serif;
    font-weight: lighter;
    line-height: 45px;
    padding: 20px 0;
}

.container_description a {
    font-size: 3.5rem;
    color: #7ed957;
}

.content__underline{
    width: 50%;
    height: 3px;
    background-color: #7ed957;
    border: none;
    margin-bottom: 20px;
}

.iframe-container {
    position: relative;
    width: 100%; 
    padding-top: 56.25%;
    overflow: hidden;
    animation: fadeInFromBot 0.9s ease-out forwards;
}

.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.bottom {
    width: 100%;
    height: 400px;
    font-style: italic;
    line-height: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.bottom i {
    font-size: 1.5rem;
    font-family: "Agdasima", serif;
}

.contact_info {
    display: flex;
    gap: 20px;
    z-index: 10;
}

.contact_info div{
    display: flex;
}

.bottom_img_a {
    height: 250px;
    width: 250px;
    position: absolute;
    background-image: linear-gradient(aliceblue, #ffffff3d, aliceblue), url("/assets/22_Logotipo_CRUZ_SM_SinFondo.png");
    background-size: cover;
    right: 0;
    bottom: 0%;
}

.bottom_img_b {
    height: 200px;
    width: 200px;
    position: absolute;
    background-image: linear-gradient(aliceblue, #00000000, aliceblue), url("/assets/24\ Logotipo\ CRUZ\ SinFondo.png");
    background-size: cover;
    bottom: 40%;
    left: 3%;
}

@media (max-width: 1200px) {
    .bottom_img_a {
        height: 200px;
        width: 200px;
    }
    .bottom_img_b {
        height: 180px;
        width: 180px;
        top: 10%;
    }
}
@media (max-width: 992px) {
    .contact_info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact_container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;
    }
    .iframe-container {
        height: 500px;
    }
    .bottom {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .contact_container {
        padding: 60px;
    }
}
@media (max-width: 576px) {
    .contact_container {
        padding: 20px;
    }
    .bottom { 
        height: 250px;
    }
    .bottom i{
        font-size: 1.9rem;
    }
    .bottom_img_a {
        height: 100px;
        width: 100px;
    }
    .bottom_img_b {
        height: 100px;
        width: 100px; 
    }
    .contact__content {
        background-position: 60%;
    }
    .contact_info {
        padding: 0 25px;
        text-align: center;
    }
}