.footer {
    background-color: aliceblue;
    animation: fadeInBackground 2s alternate;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-image: url("/assets/FONDO MARCA DE AGUA GRIS.png");
    background-size: cover;
    text-align: center;
}

.bot_logo {
    width: 100%;
    height: 250px;
    background-image: url('/public/assets/4\ \ LogoSALUDMED\ Redondo\ sin\ fondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footbar__container {
    display: flex;
    min-width: 800px;
    justify-content: space-around;
}

.top__content {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.top__content h3 {
    padding-bottom: 15px;
    font-size: 0.8rem;
}

.footbar__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(240, 248, 255, 0.616);
    border-radius: 15px;
}

.footbar__list a {
    color: #101cc3;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footbar__list a:hover {
    text-decoration: underline;
}

.footer__middle {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    background-color: #101cc378;
    color: aliceblue;
    padding-top: 10px;
}

.mid__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mid-icons {
    font-size: 1.75rem;
    display: flex;
    gap: 25px;
}

.mid-icons a{
    color: aliceblue;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #878de2;
    color: aliceblue;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid aliceblue;
}

/* ----------------- Media Querys ----------------- */

@media (max-width: 1200px) {
    .footer__top {
        padding: 15px 150px;
    }
    .mid-icons {
        font-size: 1.55rem;
    }
    .footbar__container {
        min-width: 350px;
    }
    .footer__top {
        padding: 15px 100px;
    }
}
@media (max-width: 992px) {

    .footer__top {
        padding: 15px 20px;
    }
    .top__content {
        padding-top: 25px;
    }
}
@media (max-width: 768px) {

    .footer__top {
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footbar__logo {
        padding-bottom: 25px;
    }
    .footer__middle {
        flex-wrap: wrap;
    }
    .mid__content {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footbar__container {
        gap: 30px;
    }
}
@media (max-width: 576px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer__middle {
        font-size: 1rem;
        text-align: center;
    }
    .footbar__container {
        gap: 0;
        flex-wrap: wrap;
        min-width: 100px;
    }
}