.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  background-color: transparent;
  opacity: 1;
  transition: background-color 0.8s ease, opacity 0.8s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar__logo img{
  height: 100%;
  width: 460px;
  animation: fadeInFromBot 0.9s ease-out forwards;
}

.navbar .navbar__menu {
  color: aliceblue;
  font-size: 1.7rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5px;
  font-weight: 700;
  animation: fadeInFromBot 0.9s ease-out forwards;
}

.navbar--fixed {
  background-color: aliceblue;
  top: 0;
  opacity: 1;
  z-index: 10;
}

.navbar--fixed .navbar__menu {
  color: var(--primary-color);
}
  
.navbar__item {
  position: relative;
  padding: 40px 0;
}

.navbar__item.navbar__dropdown:hover .navbar__submenu {
  display: block;
}
.navbar__submenu {
  display: none;
  position: absolute;
  top: 100%; 
  right: 10%;
  background-color: #f0f8ffdc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 15px;
  list-style: none;
  animation: fadeInBackground 0.5s ease-in-out;
}

.navbar__submenu li {
  padding: 5px 5px;
  white-space: nowrap; 
}

.navbar__submenu li a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
}

.navbar__submenu li a:hover {
  background-color: #499add;
  border-radius: 15px;
}

.navbar__item a {
  position: relative;
  color: aliceblue; 
  text-decoration: none;
  font-size: 1.3rem;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.navbar--fixed .navbar__item a {
  color: var(--primary-color);
}
.navbar .navbar__item a {
  color: var(--primary-color);
}

.navbar__item a::before,
.navbar__item a::after {
  content: "";
  position: absolute;
  height: 0;
  bottom: 3px;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color-2); 
  transition: width 0.3s ease;
}

.navbar__item a::before {
  left: 50%;
  transform: translateX(-50%);
}

.navbar__item a::after {
  right: 50%;
  transform: translateX(50%);
}

.navbar__item a:hover::before,
.navbar__item a:hover::after {
  width: 90%;
}

.navbar__toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}
/* ----------------- Media Querys ----------------- */

@media (max-width: 1200px) {
  
  .navbar__item a {
    font-size: 14px;
  }
  .navbar__logo img {
    width: 390px;
  }
}
@media (max-width: 992px) {
  
  .navbar__container{
    position: absolute;
    right: 0px;
    top: 100px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
  }
  .navbar__menu--open {
    display: flex;
    background-color: white;
    border-radius: 7px;
    animation: fadeInBackground 0.5s ease-in-out;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .navbar__submenu {
    right: -10%;
  }

  .navbar__item{
    padding: 5px 0;
    font-weight: lighter;
  }
  .navbar__toggle {
    display: block;
    font-size: 3.3rem;
  }
}
@media (max-width: 768px) {

  .navbar__item a{
    font-size: 20px;
  }
  .navbar__container{
    right: 0;
    top: 100px;
  }
  .navbar__submenu {
    right: 0;
  }
}
@media (max-width: 576px) {
  .navbar__container{
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .navbar__item a{
    font-size: 20px;
  }
  .navbar__submenu {
    right: -5px;
  }
}