.hero {
    height: 75dvh;
    width: 100%;
    animation: fadeInBackground 1.5s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    position: absolute;
    z-index: 5;
    animation: fadeInFromBot 1.6s ease-out forwards;
    padding: 10px 30px;
}

.hero__title {
    color: white;
    filter: drop-shadow(1px 1px 1px black);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;

}

.hero__content {
    max-width: 750px;
    margin-bottom: 30px;
    padding: 0 15px;
    line-height: 1.2;
    color: aliceblue;
    filter: drop-shadow(1px 1px 1px black);
    font-family: "Agdasima", serif;
    font-size: 2.5rem;
    text-align: justify;
    background-color: rgba(104, 104, 104, 0.322);
    border-radius: 10px;
}

.hero__button {
    
    padding: 12px 24px;
    font-size: 1.2rem;
    color: #ffffff; 
    background-color: #101cc396; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 1000;
}
  
  .hero__button:hover {
    background-color: var(--secondary-color-2);
    color: #101cc3c3;
}

/* ----------------- Media Querys ----------------- */

@media (max-width: 1200px) {

    .hero__title {
        font-size: 2rem;
        font-weight: 500;
    }

    .hero__content {
        font-size: 2rem;
    }
}
@media (max-width: 992px) {

    .hero__title {
        font-size: 1.8rem;
    }

    .hero__content {
        font-size: 1.8rem;
    }
    .hero__button {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
 
}