
.hero {
    background-color: aliceblue;
    background-image: linear-gradient(to bottom, #797979c2, #1f1f49a4, #797979c2), url("/images/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 85dvh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    animation: fadeInBackground 1.5s ease-in-out;
}

.hero__title {
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.hero__content {
    font-size: 1.5rem;
    max-width: 750px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: var(--secondary-color-2);
    text-align: center;
}

.hero__button {
    animation: fadeInFromBot 1.6s ease-out forwards;
    padding: 12px 24px;
    font-size: 1.2rem;
    color: #ffffff; 
    background-color: #101cc396; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 1000;
}
  
  .hero__button:hover {
    background-color: var(--secondary-color-2);
    color: #101cc3c3;
}

/* ----------------- Media Querys ----------------- */

@media (max-width: 1200px) {

    .hero__title {
        font-size: 2rem;
    }

    .hero__content {
        font-size: 1.4rem;
    }
}
@media (max-width: 992px) {

    .hero__title {
        font-size: 1.5rem;
    }

    .hero__content {
        font-size: 1.1rem;
    }
    .hero__button {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
 
}