
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #003b8c;
  --secondary-color: #7ed957;
  --secondary-color-2: #aedeac;

}

body {
  background-color: aliceblue;
  color: black;
  width: 100%;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

img {
  display: inline-block;
  max-width: 100%;
  object-fit: contain;
}

.main-structure {
  min-height: 100dvh;
}


@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInFromBot {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes appear {
  from  {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* ----------------- Media Querys ----------------- */




